@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.body-home{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 50vh;
    background-color: #F8A3D6;
}

.fig-logo{
    position: relative;
    z-index: 3;
    top: 0px;
    width: 100%;
    height: auto;

    img{
        width: 100%;
        height: auto;
    }
}

.fig-div{
    position: relative;
    z-index: 4;
    top: -200px;
    width: 100%;
    height: auto;

    img{
        width: 100%;
        height: auto;
    }
}