@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

.bodyHome{
    font-family: 'Poppins', sans-serif;
    width: 100%;
    min-height: 50vh;
    background-color: #F8A3D6;
}

.imgFundo{
    position: relative;
    z-index: 3;
    top: 0px;
    width: 100%;
    height: auto;

    img{
        width: 100%;
        height: auto;
    }
}

.secao{
    max-width: 90%;
    position: relative;
    z-index: 4;
    bottom: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgTituloPerso{
    width: 80%;

    img{
        width: 100%;
    }
}