@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


/* ajusta o tamanho do carrossel */
.splide {
  max-width: 90rem;
  max-height: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  margin-bottom: 200px;
}



/* controla o espaçamento e aparência dos slides */
.splide__slide {
  width: 50vh;
  height: 85vh;
  margin-top: 150px;
  margin-left: 50px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f8f8f800;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

/* adiciona um efeito no slide ativo */
.splide__slide.is-active {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* estilo base das setas */
.splide__arrow {
  background-color: #ffffff;
  border: 2px solid #f8a3d6;
  color: #f8a3d6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
}

/* efeito hover */
.splide__arrow:hover {
  background-color: #bb0070;
  color: #fff;
  transform: scale(1.1);
}

/* posição das setas */
.splide__arrow--prev {
  left: -2rem;
}

.splide__arrow--next {
  right: -2rem;
}

.cardPersonagem {
  width: 100%;
  height: 100%;
  background-image: url('../../assets/imgs/carta-personagem.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/* Dentro do card */
.imgPersonagem {
  margin-top: 40px;
  width: 400px;
  height: 250px;

  img {
    width: 100%;
    height: 100%;
  }
}

.tituloCarta {
  font-family: 'Berkshire Swash', cursive;
  font-size: 25px;
}

.descricaoPerso {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  text-align: justify;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 60px;
}