.berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

:root {
    --dark-green: #1C6B5D;
    --medium-green: #07CD71;
    --ligth-green: #D8FFE7;
    --purple-blue: #5768D6;
    --white: #fff;
    --ligth-blue: #E6F0FF;
}

.berkshire-swash-regular {
    font-family: "Berkshire Swash", serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

:root {
    --dark-green: #1C6B5D;
    --medium-green: #07CD71;
    --ligth-green: #D8FFE7;
    --purple-blue: #5768D6;
    --white: #fff;
    --ligth-blue: #E6F0FF;
}

main{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgTituloBusca {
    width: 500px;
    height: auto;
    position: relative;
    z-index: 4;
    top: 100px;
    left: 50px;
}

.corBase {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #762F74;
    width: 670px;
    height: 790px;
    border-radius: 15px;
    position: relative;
    z-index: 3;
}


.corSegundaria {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FC63B8;
    width: 640px;
    height: 750px;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    position: relative;
    z-index: 2;
}

form {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background-color: #FAE3E5;
    width: 610px;
    height: 710px;
    border-radius: 15px;
    box-shadow: rgba(2, 2, 3, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;

    p {
        width: 570px;
        text-align: justify;
        margin-top: 50px;
        padding: 20px;
        font-family: "Poppins", sans-serif;
        font-size: 18px;
    }

    label {
        padding-left: 20px;
        border-radius: 15px;
        font-family: "Poppins", sans-serif;
        margin-bottom: 10px;
    }
}

.alinhamento { 
    width: 590px;
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    
    input {
        width: 450px;
        height: 35px;
        border-radius: 15px;
        background-color: #fff;
        padding-left: 20px;
        margin-right: 90px;
        margin-left: 20px;
        margin-bottom: 30px;
        border: #5768D6 solid 2px;
        font-family: "Poppins", sans-serif;
    }

    .bi-search {
        color: #fff;
        width: 30px;
        height: 30px;
    }

    .btn {
        width: 50px;
        height: 40px;
        background-color: #5768D6;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px;
        border-radius: 15px;

    }
}

.bi-search {
    display: flex;
    align-self: center;
    width: 20px;
    height: 20px;
}

.alinhaBtn {
    width: 50px;


}
.alinhamentoInfos{
    display: flex;
    justify-content: center;
}

.mostraInfos{
    width: 250px;
    height: 80px;
    background-color: #fff;
    border-radius: 15px;
    border: #5768D6 solid 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12px;
    margin: 5px;
    padding: 1px;
    font-family: "Berkshire Swash", serif;

    label{
        width: 50px;
        height: 70px;
        font-family: "Berkshire Swash", serif;
    }
}

.opCores{
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    margin-left: 20px;
}

.containerCores{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    align-self: center;
    background-color: #FFF9DD;
    width: auto;
    height: 100px;
    padding: 15px;
    border-radius: 15px;
    border: #F09A2C solid 2px;
}

.containerCores label {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px; 
}

.cor, .cor1, .cor2, .cor3, .cor5, .cor6, .cor7, .cor8 {
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    width: 100px;
    height: 40px;
  
}

#radio{
    width: 20px;
    height: 20px;
}

.cor{
    background-color: rgb(255, 255, 154);
}

.cor1{
    background-color: #9df791;
}

.cor2{
    background-color: #ff6d6d;
}

.cor3{
    background-color: #d0a4ff;
}

.cor5{
    background-color: #69b4ff;
}

.cor6{
    background-color: #f38cd2;
}

.cor7{
    background-color: #f9ae84;
}

.cor8{
    background-color: #68f3c7;
}

.containerCores input[type="radio"] {
  accent-color: black;
}