.footer {
  margin-top: 5rem;
  position: relative;
}
 
.footer-wave {
  width: 100%;
  height: 6rem;
  display: block;
}
 
.footer-text {
  text-align: center;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.7);
  padding: 1.5rem 0;
  background: rgba(116, 116, 116, 0.123);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}