@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

img{
        width: 100%;
        height: auto;
    }

.bodyHome{
    position: relative;
    z-index: 1;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color: #F8A3D6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imgFundo{
    position: relative;
    z-index: 2;
    top: 0px;
    width: 100%;
}



.secao{
    background-color: rgba(0, 0, 255, 0);
    width: 70%;
    height: 30rem;
    position: relative;
    z-index: 3;
    bottom: 60rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.imgTituloPerso{
    width: 90%;
}
